.container-profile{
    padding: 2em 0;
    width: 60%;
}

.custom-title-text{
    text-align: center;
    width: 90%;
}

.grid-margin{
    margin-top: 10px !important;
}

.container-title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    flex-direction: row;
    width: 100%;
}

.container-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.container-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 12px;
    margin: 5px 0;
    padding: 5px 0;
}

.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1em 0;
    padding: 2em 0;
    background: black;
}

.margin-y{
    margin-top: 2em !important;
}

.info-text{
    color: #8B2635;
}

.paper-text{
    padding: 10px 10px;
    text-align: center;
    background: #00487C !important;
    color: white !important;
    font-size: 17px;
}
