target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
node_modules/
log_extract_data.info
log_scraper.info
bulk_data.json
filtered_data.json
__pycache__/
*.pyo
*.pyc
urls_input*.txt
services/backend/recipe_web_scraper/images/
