.container-user-details{
    min-height: auto;
    min-width: auto;
    width: 60%;
    padding: 2em 2em;
}

.grid-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-custom{
    padding: 2em 0;
}

.text-field{
    width: 70%;
}
