.container-custom{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: inherit;
    height: auto;
}

.container-main{
    background-color: #7798AB;
    border-radius: 10px;
    color: rgba(255,255,255, 0.9);
}

.text-container-title{
    font-size: 30px;
    text-align: center;
}

.text-title{
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    border-bottom: #8B2635 4px solid;
}
