.container-login{
    min-height: auto;
    min-width: auto;
}

.container-login-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group{
    width: 90%;
}

.container, .form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.width-container{
    width: 50%;
    padding: 2em 0;
}

.form-check {
    margin: 10px 0;
}

.y-margin{
    margin: 1em 0;
}

.error-text{
    background: darkred;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 15px;
}

.input-text{
    width: 300px;
}
