.container-login{
    min-height: auto;
    min-width: auto;
}

.container-login-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group{
    width: 90%;
}

.container, .form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-check {
    margin: 10px 0;
}
