.container-user-plan{
    margin: 2em 0;
    padding: 2em 2em;
    min-height: auto;
    min-width: auto;
    width: 80%;
}

.card-custom{
    padding: 2em 0;
}

.card-meal{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 2em;
    width: 90%;
    margin: 1em 0;
}

.card-presentation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.grid-custom-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider-custom {
    margin: 5px 0;
}

.custom-margin{
    margin:10em 2em;
}
